@charset "EUC-KR";

* {
	margin: 0;
	padding: 0;
}
body {
	color: #333;
}


ul {
	list-style-type: none;
}

a, a:link {
	text-decoration: none;
	color: inherit;
}

header {
	border-top: 2px solid black;
	background: ivory;
	overflow: hidden;
}	

.wrap {
	max-width: 1050px;
	margin: 0 auto;	
	padding: 1rem 0;
	display: flex;
	/* justify-content: space-between; */
}
.site-nav {
	margin-left: auto;
}
.nav-top{
	margin: 1rem 0;
}
.nav-top, .nav-bottom {
	display: flex;
}
.nav-top a {
	text-transform: capitalize;
}
.nav-top a:hover {
	text-decoration: underline;
}
.nav-top li::after {
	content: '';
	display: inline-block;
	width: 1px;
	height: 50%;
	background: #ccc;
	margin: 0 .925rem;
}
.nav-top li:nth-child(4)::after{
	width: 0;
}
.nav-top li:nth-child(5)::after{
	width: 0;
}
.nav-bottom li:hover{
	background: #333;
	color: yellowgreen;
	text-decoration: underline;
	height: 80px;
	
}
.nav-bottom a {
	text-transform: uppercase;
	padding: .5rem 1rem;
	margin: .2rem 0 0 0;
	display: block;
}


